<script id="umowa-template" type="text/html">
    <h3>Umowa Najmu</h3>
    <p>Miejsce i data podpisania umowy:  <b>{{seller_city}},{{date}}</b> r.</p>
    <p>Umowa zawarta pomiędzy:</p>
    <p><b>{{seller_name}} {{seller_surname}}</b>, zamieszkały pod adresem <b>{{seller_zip}} {{seller_city}}</b>, ul. <b>{{seller_street}}</b>
        legitymujący sie dow. osobistym {{seller_nr_dow}} zwanym dalej Wynajmującym
    </p>

    {{#osoba}}
    <p>a </p>
    <p><b>{{buyer_os_name}} {{buyer_os_surname}}</b>, zamieszkały pod adresem <b>{{buyer_os_zip}} {{buyer_os_city}}</b>, ul. <b>{{buyer_os_street}}</b>, legitymujący sie dow. osobistym <b>{{buyer_os_nr_dow}}</b>  zwanym dalej Najemcą</p>
    {{/osoba}}

    {{#firma}}
    <p>a firmą </p>
    <p><b>{{buyer_company}} </b>z siedzibą pod adresem ul. <b>{{buyer_company_street}}</b>, <b>{{buyer_company_zip}} {{buyer_company_city}}</b>,
        wpisana do rejestru KRS pod nr. <b>{{buyer_krs}}</b> reprezentowaną przez <b>{{buyer_name}} {{buyer_surname}}</b>
        zamieszkałego/ą pod adresem <b>{{buyer_zip}} {{buyer_city}}</b>, ul. <b>{{buyer_street}}</b>
        legitymujący sie dow. osobistym <b>{{buyer_nr_dow}}</b> zwanym dalej Najemcą.</p>
    {{/firma}}


    <h4>&sect;1. Przedmiot najmu</h4>
    <p>Wynajmujący oświadcza, że jest właścicielem i posiada wszelkie prawa do zawierania stosownych umów najmu oraz
        administrowania budynkiem położonym pod adresem <b>{{rent_zip}} {{rent_city}}</b>, ul. <b>{{rent_street}}</b>.
        Celem potwierdzenia powyższego Wynajmujący przedstawia następujące dokumenty:
        <ol>
            <li>Dokument potwierdzający tytuł prawny do budynku ( lokalu ) bądź wykazujący uprawnienie Wynajmującego do zarządzania i administrowania budynkiem oraz zawierania umów najmu.</li>
        </ol>
    </p>

    <h4>&sect;2.</h4>
    <p>1. Na mocy niniejszej umowy Wynajmujący wynajmuje a Najemca bierze w najem od dnia <b>{{czasNajmuOd}}</b> r.
        lokal wraz ze wszystkimi powierzchniami wspólnymi, ciągami komunikacyjnymi, sanitariatami itd., niezbędnymi do prawidłowego funkcjonowania przedmiotu najmu,
        z których Najemca może korzystać bez żadnych ograniczeń w okresie trwania umowy najmu.</p>

    <p>2. Ogólna powierzchnia oddana Najemcy w najem wynosi <b>{{rent_size}}</b> m2 (w tym powierzchnie wspólne)</p>

    <h4>&sect;3.</h4>
    <p>1. Miesięczny czynsz najmu strony ustalają na kwotę <b>{{rent_month_cost}}</b> zł netto za powierzchnię określoną w § 2 pkt 2.</p>
    <p>2. Oprócz czynszu Najemca zobowiązany jest do ponoszenia wszelkich opłat eksploatacyjnych związanych z funkcjonowaniem budynku oraz wynajętej na podstawie niniejszej umowy powierzchni.</p>

    <p>Umowa sporządzona została w trzech jednobrzmiących egzemplarzach, dwa dla Wynajmującego i jednym dla Najemcy.</p>

    <p>Wynajmujący:</p><br/><br/>
    <p>Najemca:</p>

</script>
